*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.registerDiv{
    background-color: rgb(235, 230, 230);
}

.tag {
  border-radius: 5px;
  font-weight: bold;
  line-height: 10px;

}

.tag.green {
  background-color: #1b5e20;
}

.tag.orange {
  background-color: #f57f17;
}

.tag.red {
  background-color: #7f0000;
}

.movie{
  cursor: pointer;
  position: relative;
  
}

.movie-title{
  background-color:rgb(134, 204, 236);
  border-radius: 10px;
  width: 100%;
}

.imgDiv{
  width: 50%;
  object-fit: cover;
}

.movie-over{
   position: absolute;
    left: 0;
    bottom: 3.5rem;
    background-color: rgba(240,240,240,0.6);
    transform: scale(0);
    transition: transform 0.3s ease-in;
    overflow: auto;
    max-height: 20rem;
    
}

.movie:hover .movie-over{
  transform: scale(1);
  transform: translate(0%,0%);
  transition: transform 0.3s ease-out;
  z-index: 10;
}

.search-input{
  padding: .3rem;
}

.buttonDiv{
  height: 2rem;
  margin-top: auto;
  line-height: 2rem;

}